html {
  font-size: 14px; }

body {
  font: normal normal 1rem/1.3rem "Helvetica Neue", Helvetica, Arial, sans-serif; }

.section {
  padding: .75rem;
  margin-bottom: 1rem; }

.section-contrast-dark {
  background-color: #333;
  color: #fff; }

.section-contrast-light {
  background-color: #ccc;
  color: #000; }

.breakpoint-box {
  background-color: crimson;
  color: #fff; }
  .breakpoint-box:before {
    content: "No breakpoint"; }
  @media (max-width: 1024px) {
    .breakpoint-box:before {
      content: "Large breakpoint"; } }
  @media (max-width: 740px) {
    .breakpoint-box:before {
      content: "Medium breakpoint"; } }
  @media (max-width: 420px) {
    .breakpoint-box:before {
      content: "Small breakpoint"; } }

.remFallback h2 {
  font-size: 28px;
  font-size: 1.75rem; }

.remFallback p.lead {
  font-size: 18px;
  font-size: 1.125rem; }

h1 {
  font-size: 6.75rem;
  line-height: 1;
  margin-top: .2em;
  margin-bottom: .1em; }

h2 {
  font-size: 5.625rem;
  line-height: 1;
  margin-top: .2em;
  margin-bottom: .1em; }

h3 {
  font-size: 4.5rem;
  line-height: 1;
  margin-top: .2em;
  margin-bottom: .1em; }

h4 {
  font-size: 3.375rem;
  line-height: 1;
  margin-top: .2em;
  margin-bottom: .1em; }

h5 {
  font-size: 2.25rem;
  line-height: 1;
  margin-top: .2em;
  margin-bottom: .1em; }

h6 {
  font-size: 1.125rem;
  line-height: 1;
  margin-top: .2em;
  margin-bottom: .1em; }

p {
  font-size: 1rem;
  margin: 0 0 .5rem 0; }

small {
  font-size: 0.88889rem; }
