
// Example page styling
//

html {
  font-size: 14px;
}

body {font: normal normal 1rem/1.3rem "Helvetica Neue", Helvetica, Arial, sans-serif;}

// ====================


// Color contrast
//

@import "mixins/colorContrast";

.section {
  padding: .75rem;
  margin-bottom: 1rem;
}

.section-contrast-dark {
  background-color: #333;
  color: set-color-contrast(#333);
}

.section-contrast-light {
  background-color: #ccc;
  color: set-color-contrast(#ccc);
}


// Breakpoints
//

$bp-large: 1024px;
$bp-medium: 740px;
$bp-small: 420px;


@import "mixins/breakpoints";

.breakpoint-box {
  background-color: crimson;
  color: #fff;
  &:before { content: "No breakpoint" }

  @include breakpoint($bp-large) {
    &:before { content: "Large breakpoint"; }
  }

  @include breakpoint($bp-medium) {
    &:before { content: "Medium breakpoint"; }
  }

  @include breakpoint($bp-small) {
    &:before { content: "Small breakpoint"; }
  }
}


// Rem fallback
//

@import "mixins/remFallback";

.remFallback {
  h2 {
    @include font-size(28px);
  }

  p.lead {
    @include font-size(18px);
  }
}

// Ratios
@import "mixins/ratioFontSize";
@include ratio("majorSecond");